/*Copyright 2017 by Pu Chen. All rights reserved.*/
@import url('https://fonts.googleapis.com/css?family=Quicksand');

/* navigation bar */
body {
  margin: 0;
}
nav {
    font-family: HelveticaNeue-Light;
    color:#727272;
    font-weight: lighter;
    font-size: 19px;
    height: 50px;
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom:1px solid #E9E9E9;
}

ul {
  list-style-type: none;
  padding-right: 80px;
}

 li {
    float: right;
}

 li a {
   font-family: HelveticaNeue-Light;
   color:#6F6F6F;
   font-weight: lighter;
   text-align: center;
   padding: 14px 16px;
   padding-right: 15px;
   padding-right: 15px;
   text-decoration: none;
}

 li a:hover {
  color: black;
  border-bottom:1px solid black;
  padding-bottom: 8px;
}

.tag {
  text-decoration: none;
  float: left;
  display: inline;
  text-align: left;
  padding-top: 20px;
  margin-left: 60px;
}

/**********************/
/* Main Body */
.mainBody {
  font-family: HelveticaNeue-Light;
  text-align: center;
  font-size: 30px;
  padding-top: 50px;
  padding-bottom: 30px;
  /*padding-left: 310px;*/
   -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/************************/

/* footer for every page */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/* about me page -> main Body */
.aboutmeBody{
  text-align: center;
  font-size: 20px;
  padding-top: 150px;
}

#profile{
  padding-top: 150px;
  text-align: center;
}

#code-link{
  padding-top: 30px;
  border: none;
  background: none;
  text-align: center;
  
}

#code-link a{
  text-decoration: none;
  color: black;
  font-family: HelveticaNeue-Light;
  font-size: 40px;
}

#code-link img{
  height: 30px;
}