/*Copyright 2017 by Pu Chen. All rights reserved.*/
@import url('https://fonts.googleapis.com/css?family=Quicksand');

/* navigation bar */
body {
  margin: 0;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;

}
nav {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 18px;
    color:#727272;
    font-weight: lighter;
    height: 50px;
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom:1px solid black;
}

#menuList {
  list-style-type: none;
  padding-right: 80px;
}

#menuList li {
    float: right;
}

#menuList li a {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 18px;
    color: grey;
    font-weight: lighter;
    text-align: center;
    padding: 14px 16px;
    padding-right: 30px;
    text-decoration: none;
}

#menuList li a:hover {
  color: #040CFC;
}

.tag {
  float: left;
  display: inline;
  text-align: left;
  padding-top: 14px;
  margin-left: 60px;
}
/**********************/

#leet{
  padding-top: 100px;
  text-align: center;
  
  font-size: 36px;
}

#algo {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
}

#list {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  padding-left: 140px;
}

#title {
  text-decoration: none;
}