/*Copyright 2016 by Pu Chen. All rights reserved.*/

body {
        background-image: url("../image/background.jpeg");
        height: calc(100% - 40px);
        margin:0;
}

#top {
        text-align: center;
        line-height: 1px;
        height:600px;
        align-content: center;
        font-family: 'Poppins', sans-serif;
        font-weight: lighter;
        padding-top: 50px;
}

#about-section {
        text-align: center;
        line-height: 1px;
        height:600px;
        align-content: center;
        font-family: 'Poppins', sans-serif;
        font-weight: lighter;
        padding-top: 50px;
}

/* This is menu bar */
#navbar {
        overflow: hidden;
        background-color: #1C1B1A;
        position: fixed;
        top: 0;
        width: 100%;
        margin:0;
        -webkit-box-shadow: 0 8px 6px -6px #1C1B1A;
        -moz-box-shadow: 0 8px 6px -6px #1C1B1A;
        box-shadow: 0 8px 6px -6px #1C1B1A;
}

/* This is menu content */
#nav-list a {
        font-family: 'Gudea', sans-serif;
        float: right;
        display: block;
        color: grey;
        text-align: center;
        padding: 16px 25px;
        text-decoration: none;
        font-size: 17px;
}

#nav-list a:hover{
        color: #32C9BB;
}

/* name brand in menu */
#name-brand a{
        font-family: 'Gudea', sans-serif;
        float: left;
        display: block;
        color: grey;
        text-align: center;
        padding: 16px 25px;
        text-decoration: none;
        font-size: 17px;
}

/* top(hame) section */
#top p {
        -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
        -o-animation: fadein 3s; /* Opera < 12.1 */
        animation: fadein 3s;

        font-family: 'Sintony', sans-serif;
        font-stretch: condensed;
        color: white;
        font-weight: lighter;
        text-align: center;
        font-size: 600%
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#name-brand a:hover{
        color: #32C9BB;
}
/***********************/

