/*Copyright 2016 by Pu Chen. All rights reserved.*/

body {
        background-image: url("../image/background.jpeg");
        height: calc(100% - 40px);
}

#top {
        text-align: center;
        line-height: 1px;
        height:550px;
        align-content: center;
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
}

#p-pu {
        font-family: 'Open Sans', sans-serif;
        font-stretch: condensed;
        color: white;
        font-weight: lighter;
        text-align: center;
        font-size: 600%
}

#p-chen {
        font-family: 'Open Sans', sans-serif;
        font-stretch: condensed;
        color: white;
        font-weight: lighter;
        text-align: center;
        font-size: 600%
}

