/*Copyright 2016 by Pu Chen. All rights reserved.*/

#title {
        font-family: "Lucida Console", Monaco, monospace;
        font-size: 20px;
}
#info {
        text-align: center;
        align-content: center;
        font-family: monospace;
}
