<!-- This is the About Me page -->
<!DOCTYPE html>
<html>
    <head>
        <title>Pu Chen | Blog</title>

        <!-- CSS links -->
        <link rel="stylesheet" href="../css/blog.css" />
        

        <link rel="stylesheet" href="../css/styles/default.css">
        <script src="../css/highlight.pack.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    </head>

    <body>
        <!-- Navigation Bar -->
        <nav>
            <div class="tag">Angular | Pu Chen</div>
            <ul>
                <li><a href="../contact.html">Contact</a></li>
                <li><a href="../archives.html">Archives</a></li>
                <li><a href="../aboutme.html">About Me</a></li>
                <li><a href="https://github.com/PuChen7">Projects</a></li>
                <li><a class="active" href="../index.html">Home</a></li>
            </ul>
        </nav>

        <!-- Main body of the front page -->
        <div class="blog-content">
            <br>
            <h id="view-controller">View and Controller</h>
            <ul>
                <li>A <text>view</text> in AngularJS is the HTML after it has been compiled by AngularJS</li>
                <li>A <text>controller</text> is a Javascript object that contains methods and properties.</li>
                <li>Controllers should be lightweight and specific to the view they control.</li>
                <li>The glue between the view and controller is <text>scope</text></li>
                <li>The controller is responsible for exposing methods and properties to the view by <text>attaching them to scope</text></li>
                <li>a <text>digest cycle</text> in AngularJS is what keeps the view and controller <text>synchronized</text></li>
                <li>Digest Cycle
                    <ul>
                        <li>How does AngularJS know when something has changed and it's time to update? <text>--> Dirty Checking</text></li>
                    </ul>
                </li>
                <li><text>controller-as</text> syntax
                    <ul>
                        <li>Example of <b>NOT</b> using <text>controller-as</text> syntax:
                            <pre><code class="html">
                                &lt;div ng-app=&quot;app&quot; ng-controller=&quot;SiteController&quot;&gt;
                                &lt;!-- we are pretty sure we are getting the title from the SiteController --&gt;
                                &lt;h1&gt;{{title}}&lt;/h1&gt;
                                    &lt;div ng-controller=&quot;PersonController&quot;&gt;                                    
                                        &lt;!-- is this the title from SiteController or PersonController? 
                                        is there even a title in both? --&gt;
                                        &lt;h2&gt;{{title}}&lt;/h2&gt;                                    
                                        &lt;div ng-repeat=&quot;person in PersonCtrl.people&quot;&gt;                                    
                                            &lt;span&gt;{{person.name}}&lt;/span&gt;                                        
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            </code></pre>
                        </li>
                        <li>Example of using <text>controller-as</text> syntax:
                            <pre><code class="javascript">
                                // site.controller.js:
                                (function() {
                                    'use strict';
                                    angular.module('app').controller('SiteController', SiteController);
                                
                                    // no need to inject $scope because we don't need it
                                    SiteController.$inject = [];
                                
                                    function SiteController() {
                                        // assigning this to a loacal variable makes it easier to 
                                        // declare properties and methods in the controller
                                        var vm = this;
                                    
                                        // declare our title on this
                                        vm.title = "Welcome!";
                                    }
                                })();
                                
                                // other.controller.js:
                                (function() {
                                    'use strict';
                                    angular.module('app').controller('OtherController', OtherController);
                                    function OtherController() {
                                        var vm = this;
                                        vm.title = "Other title!";
                                    }
                                })();
                            </code></pre>

                            <pre><code class="html">
                                &lt;div ng-app=&quot;app&quot; ng-controller=&quot;SiteController as SiteCtrl&quot;&gt;
                                    &lt;!-- we can be sure we are getting the title from the SiteController --&gt;
                                    &lt;h1&gt;{{SiteCtrl.title}}&lt;/h1&gt;
                                    &lt;div ng-controller=&quot;OtherController as OtherCtrl&quot;&gt;
                                        &lt;!-- we can be sure we are getting the title from the OtherCtrl --&gt;
                                        &lt;h2&gt;{{OtherCtrl.title}}&lt;/h2&gt;
                                    &lt;/div&gt;                                
                                &lt;/div&gt;
                            </code></pre>
                        </li>
                    </ul>
                </li>
            </ul>

            <h id="pro-and-exp">Properties and Expressions</h>
            <ul>
                <li><b>ng-repeat</b>
                    <ul>
                        <li>Simple ng-repeat:
                            <pre><code class="html">
                                &lt;ul class=&quot;list&quot; ng-repeat=&quot;status in storyboard.statuses&quot;&gt;
                                    &lt;h3 class=&quot;status&quot;&gt;{{status.name}}&lt;/h3&gt;
                                &lt;/ul&gt;
                            </code></pre>
                        </li>
                        <li>Adding Filters
                            <ul>
                                <li>ng-repeat with filters:
                                    <pre><code class="html">
                                        &lt;li class=&quot;story&quot; ng-repeat=&quot;story in storyboard.stories | filter: {status:status.name}&quot;&gt;&lt;/li&gt;
                                    </code></pre>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><b>ng-model</b>
                    <ul>
                        <li>ng-model is a <text>directive</text> in Angular.JS that represents models and its primary purpose is to <text>bind</text> the "view" to the "model".</li>
                        <li>The ng-model directive will ensure that the data in the "view" and that of your "model" are kept <text>in sync</text> the whole time.</li>
                        <li>Can also provide a <text>validation</text> behavior</li>
                        <li>How to use:
                            <ul>
                                <li><pre><code class="html">
                                    &lt;div ng-app=&quot;DemoApp&quot; ng-controller=&quot;DemoCtrl&quot;&gt;
                                        &lt;form&gt;
                                            Name : &lt;input type=&quot;text&quot; ng-model=&quot;pname&quot;&gt;&lt;br&gt;
                                        &lt;/form&gt;
                                    &lt;/div&gt;

                                    &lt;script&gt;
                                        var app = angular.module('DemoApp',[]);
                                        app.controller('DemoCtrl', function($scope){
                                            $scope.pname=&quot;Guru99&quot;;                                            
                                        });
                                    &lt;/script&gt;
                                </code></pre></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><b>ng-options</b>
                    <ul>
                        <li>The ng-options directive fills a <text>&lt;select&gt;</text> element with <text>&lt;options&gt;</text>.</li>
                        <li><pre><code class="html">
                                &lt;div ng-app=&quot;myApp&quot; ng-controller=&quot;myCtrl&quot;&gt;
                                    &lt;select ng-model=&quot;selectedName&quot; ng-options=&quot;item for item in names&quot;&gt;&lt;/select&gt;                            
                                &lt;/div&gt;
                                
                                &lt;script&gt;
                                    var app = angular.module('myApp', []);
                                    app.controller('myCtrl', function($scope) {
                                        $scope.names = [&quot;Emil&quot;, &quot;Tobias&quot;, &quot;Linus&quot;];
                                    });
                                &lt;/script&gt;
                        </code></pre></li>
                    </ul>
                </li>
            </ul>

            <h id="services">Services</h>
            <ul>
                <li>a service is a function, or object, that is available for, and limited to, your AngularJS application.</li>
                <li>A service is typically a <text>class with a narrow, well-defined purpose</text>. It should do something <text>specific</text> and do it well.</li>
                <li>Services provide a means for keeping data around for the lifetime of an application while they also can be used across different controllers in a consistent manner.</li>
                <li>Different types of services:
                    <ul>
                        <li><b>module.value</b>: Good for storing simple values that may need to change during runtime.
                            <ul>
                                <li>take two parameters: the name of the service and the value that is to be returned when the value service is instantiated.</li>
                                <li>Example:
                                    <pre><code class="javascript">
                                        myModule.value('STORY_TYPES', [
                                            {name: 'Feature'},
                                            {name: 'Enhancement'},
                                            {name: 'Bug'},
                                            {name: 'Spike'}
                                        ]);
                                    </code></pre>
                                </li>
                            </ul>
                        </li>
                        <li><b>module.constant</b>: Good for storing simple values that will never need to change.
                            <ul>
                                <li>can't be modified during runtime</li>
                                <li>Example of a remote url (encapsulate back-end choice into a single place and pass it around as needed):
                                    <pre><code class="javascript">
                                        angular.module('Angello.Common')
                                        .constant('CURRENT_BACKEND', 'firebase');
                                    </code></pre>
                                </li>
                            </ul>
                        </li>
                        <li><b>module.service</b>: Creates a service using a constructor method. This is good for developers who prefer OOP-style programming and like using the this keyword.
                            <ul>
                                <li>When you define a service using module.service, the instance is returned via a <text>constructor</text> function.</li>
                                <li>It's instantiated with the <text>new</text> keyword.</li>
                                <li>After instantiated add pass service into controller, properties with <text>this</text> will be available on the controller through the service.</li>
                                <li><pre><code class="javascript">
                                    app.controller('myServiceCtrl', function ($scope, myService) {
                                        $scope.artist = myService.getArtist();
                                    });
                                        
                                    app.service('myService', function () {
                                        var _artist = '';
                                        this.getArtist = function () {
                                            return _artist;
                                        }
                                    });
                                </code></pre></li>
                            </ul>
                        </li>
                        <li><b>module.factory</b>: Creates a service using a constructor function. Developers using the Revealing Module pattern will be at home with this style.
                            <ul>
                                <li>Factory creates an object, add properties to it, then return that same object.</li>
                                <li>When you pass this service into your controller, those properties on the object will now be available in that controller through your factory.</li>
                                <li><pre><code class="javascript">
                                    app.controller('myFactoryCtrl', function ($scope, myFactory) {
                                        $scope.artist = myFactory.getArtist()
                                    });
                                        
                                    app.factory('myFactory', function () {
                                        var _artist = '';
                                        var service = {}
                                        
                                        service.getArtist = function () {
                                            return _artist
                                        }
                                        
                                        return service;
                                    });
                                </code></pre></li>
                            </ul>
                        </li>
                        <li><b>module.provider</b>: Providesthemostcontroloverdefiningyourservicebutismorecomplexandverbose. Good for modifying behavior of a service while the application is being configured.
                            <ul>
                                <li>Providers are the only service you can pass into your <text>.config() function</text>.</li>
                                <li>Use a provider when you want to provide module-wide configuration for your service object before making it available.</li>
                                <li><pre><code class="javascript">
                                    app.controller('myProviderCtrl', function ($scope, myProvider) {
                                        $scope.artist = myProvider.getArtist();
                                        $scope.data.thingFromConfig = myProvider.thingOnConfig;
                                    });
                                        
                                    app.provider('myProvider', function () {
                                        this._artist = '';
                                        this.thingFromConfig = '';
                                        
                                        //Only the properties on the object returned from $get are available in the controller.
                                        this.$get = function () {
                                            var that = this;
                                            return {
                                            getArtist: function () {
                                                return that._artist;
                                            },
                                            thingonConfig: that.thingFromConfig
                                            }
                                        }
                                    });
                                    
                                    app.config(function (myProviderProvider) {
                                        myProviderProvider.thingFromConfig = 'This was set in config()';
                                    });
                                </code></pre></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>

            <h id="directives">Directives</h>
            <ul>
                <li>directives are markers on a DOM element (such as an attribute, element name, comment or CSS class) that tell AngularJS's HTML compiler ($compile) 
                    to attach a specified behavior to that DOM element (e.g. via event listeners), or even to transform the DOM element and its children.
                </li>
                <li>Directives generally have three parts:
                    <ul>
                        <li>link function</li>
                        <li>controller function</li>
                        <li>directive definition object</li>
                    </ul>
                </li>
                <li>Four types
                    <ul>
                        <li>As elements: <code>&lt;date-picker&gt;&lt;/date-picker&gt;</code></li>
                        <li>As attributes: <code>&lt;input type="text" date-picker/&gt;</code></li>
                        <li>As classes: <code>&lt;input type="text" class="date-picker"/&gt;</code></li>
                        <li>As comments: <code>&lt;!--directive:date-picker--&gt;</code></li>
                    </ul>
                </li>
                <li>Simple directive
                    <ul>
                        <li>
                            <pre><code class="javascript">
                                angular.module('myApp', []).directive('helloWorld', function() {
                                    return {
                                        restrict: 'AEC',
                                        replace: true,
                                        template: '&lt;h3&gt;Hello, World!&lt;/h3&gt;'
                                    }; 
                                });
                            </code></pre>
                        </li>
                        <li>How to invoke:
                            <ul>
                                <li> Use in HTML (<text>Need to use <b>hello-world</b> in HTML to reference <b>helloWorld</b></text>)
                                    <pre><code class="html">
                                        &lt;body ng-app=&quot;myApp&quot;&gt;
                                            &lt;hello-world&gt;&lt;/hello-world&gt;
                                        &lt;/body&gt;
                                    </code></pre>
                                </li>
                                <li>Use as attribute ( if you want to use <text>hello-world</text> to invoke your directive in your templates, you need to name it <text>helloWorld</text> when you define it in JavaScript.)
                                    <pre><code class="html">
                                        &lt;body ng-app=&quot;myApp&quot;&gt;
                                            &lt;div hello-world&gt;&lt;/div&gt;
                                        &lt;/body&gt;
                                    </code></pre>
                                </li>
                            </ul>
                        </li>
                        <li>Configuration Options
                            <ul>
                                <li><text>restrict</text>: This provides a way to specify how a directive should be used in HTML
                                    <ul>
                                        <li><text>A</text>: Attribute</li>
                                        <li><text>E</text>: Element</li>
                                        <li><text>C</text>: Class</li>
                                        <li><text>M</text>: Comment</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>Link Functions
                    <ul>
                        <li>Inside the link function you can set models on the scope object, watch models for changes, and add event listeners to DOM elements.</li>
                        <li>Example of <text>link function</text>
                            <pre><code class="javascript">
                                &lt;body ng-app=&quot;myApp&quot;&gt; 
                                &lt;div ng-controller=&quot;MainController&quot;&gt;
                                    &lt;input type=&quot;text&quot; ng-model=&quot;message&quot; placeholder=&quot;Enter message&quot; /&gt; 
                                    &lt;hello-world&gt;&lt;/hello-world&gt;
                                &lt;/div&gt;
                                &lt;/body&gt;

                                &lt;script&gt;
                                    angular.module('myApp', []);
                                    angular.module('myApp')
               controller--->       .controller('MainController', function($scope) {
                                        $scope.message = 'I love AngularJS';
                                    }) 
               directive--->        .directive('helloWorld', function() {
                                        return {
                                            restrict: 'AEC',
                                            replace: true,
                                            template: '&lt;p ng-click="clearMessage()"&gt;Hello, World!{{message}} &lt;/p&gt;',
            link function--->               link: function(scope, elem, attrs) {
                                                scope.$watch('message', function(value) {
                                                    console.log('Message Changed!');
                                                });
                                                scope.clearMessage = function() {
                                                    scope.message = '';
                                                }
                                                elem.bind('mouseover', function() {
                                                    elem.css('cursor', 'pointer');
                                                });
                                            } 
                                        }
                                    });
                                &lt;/script&gt;
                            </code></pre>
                        </li>
                        <li><text>link function</text> takes three parameters:
                            <ul>
                                <li><text>scope</text>: The scope object for the directive. By default this is same as the <text>parent's</text> scope. 
                                    For instance, if you have ng-controller in the markup and our directive is used inside it, then the directive will use the 
                                    parent controller's scope.
                                </li>
                                <li><text>elem</text>: This is the element on which our directive is applied.</li>
                                <li><text>attrs</text>: This is a map containing the attributes and their values that are applied to the directive in HTML.</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>Changing a directive's scope
                    <ul>
                        <li>By default, a directive gets its <text>parent's</text> scope.</li>
                        <li>Three ways to define a <text>scope</text> of a directive
                            <ul>
                                <li><text>scope: false</text>: Angular <text>default</text>. The directive's scope is exactly the one of its parent scope (parentScope).</li>
                                <li><text>scope: true</text>: Angular creates a scope for this directive. The scope inherits from parentScope.</li>
                                <li><text>scope: {...}</text>: isolated scope.</li>
                            </ul>
                        </li>
                        <li>If we want to make some properties private, we can have two options: <text>child scope</text> and <text>isolated scope</text>.</li>
                        <li>The scope can be configured with the scope property of the <text>directive definition object</text>.</li>
                        <ul>
                            <li>Example: Give the directive a <text>new child scope</text> that <text>inherits from the parent scope</text>.
                                <pre><code class="javascript">
                                    angular.module('myApp').directive('helloWorld', function() {
                                        return {
                                            scope: true,  // use a child scope that inherits from parent
                                            restrict: 'AE',
                                            replace: true,
                                            template: '&lt;h3&gt;Hello, World!&lt;/h3&gt;'
                                        }; 
                                    });
                                </code></pre>
                            </li>
                            <li>Example: This directive uses a <text>new isolated scope</text> that <text>doesn't inherit</text> from its parent.
                                <pre><code class="javascript">
                                    angular.module('myApp').directive('helloWorld', function() {
                                        return {
                                            scope: {},  // use a new isolated scope
                                            restrict: 'AE',
                                            replace: true,
                                            template: '&lt;h3&gt;Hello, World!&lt;/h3&gt;'
                                        }; 
                                    });
                                </code></pre>
                                Isolated scopes are good when we want to create <text>reusable components</text>. By isolating the scope we guarantee that the directive is <text>self-contained</text> 
                                and can be easily plugged into an HTML app. This protects the <text>parent scope from getting polluted</text>, as it's <text>not accessible inside the directive</text>.
                            </li>
                        </ul>
                    </ul>
                    <li>Binding Between Parent Scope and Isolated Scope Models
                        <ul>
                            <li>The topic about using symbols <text>@, = and &</text> are talking about scenarios using <text>isolatedScope</text>.</li>
                            <li>Using @ For One-Way Binding: @ simply <text>passes the property from parentScope to isolatedScope</text>.
                                <ul>
                                    <li>
                                        <pre><code class="html">
                                            &lt;body ng-app=&quot;myApp&quot;&gt; 
                                                &lt;div ng-controller=&quot;MainController&quot;&gt;
                                                    &lt;input type=&quot;text&quot; ng-model=&quot;message&quot; placeholder=&quot;Enter message&quot; /&gt; &lt;!-- if message changed at here, message-attr also changes --&gt;
                                                    &lt;hello-world message-attr=&quot;{{message}}&quot;&gt;&lt;/hello-world&gt; &lt;!-- if message-attr changed, message above does not change due to one-way binding --&gt;
                                                &lt;/div&gt;
                                            &lt;/body&gt;

                                            &lt;script&gt;
                                                angular.module('myApp', []);
                                                angular.module('myApp')
                                                .controller('MainController', function($scope) {
                                                    $scope.message = 'I love AngularJS';
                                                }) 
                                                .directive('helloWorld', function() {
                                                    return {
                                                        restrict: 'AEC',
                                                        scope: {
                                                            message:'@messageAttr'  // isolated scope property: message, should bind to messageAttr
                                                        },
                                                        replace: true,
                                                        template: '&lt;p ng-click="clearMessage()"&gt;Hello, World!{{message}} &lt;/p&gt;',
                                                        link: function(scope, elem, attrs) {
                                                            scope.$watch('message', function(value) {
                                                                console.log('Message Changed!');
                                                            });
                                                            scope.clearMessage = function() {
                                                                scope.message = '';     // this scope is isolated scope, which will empty message-attr
                                                            }
                                                            elem.bind('mouseover', function() {
                                                                elem.css('cursor', 'pointer');
                                                            });
                                                        } 
                                                    }
                                                });
                                            &lt;/script&gt;
                                        </code></pre>
                                    </li>
                                    <li>We call this <text>one-way binding</text> because with this technique you can only pass <text>strings</text> to the attribute (using expressions, {{}} 
                                        or just static values). When the <text>parent scope property changes</text>, your <text>isolated scope model also changes</text>. However, the <text>reverse is 
                                        not true</text>! You can't change the <text>parent scope</text> model by manipulating the <text>isolated scope</text> model.</li>
                                </ul>
                            </li>
                            <li>Using = For Two-Way Binding: means any modification in <text>childScope</text> will also update the value in <text>parentScope</text>, and vice versa. (for both primitives and objects)
                                <ul>
                                    <li></li>
                                </ul>
                            </li>
                            <li>Useful resources about binding
                                <ul>
                                    <li><a href="http://blog.krawaller.se/posts/dissecting-bindings-in-angularjs/">http://blog.krawaller.se/posts/dissecting-bindings-in-angularjs/</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </li>
                <li>Transclusion
                    <ul>
                        <li>Use <text>transclude</text> when you want to preserve the contents of an element when you're using a directive.</li>
                        <li>the following code will finally <text>replace</text> "some content here" with "the template":
                            <pre><code class="html">
                                &lt;!-- HTML --&gt;
                                &lt;div foo&gt;
                                    some content here
                                &lt;/div&gt;

                                &lt;!-- JavaScript --&gt;
                                .directive("foo", function() {
                                    return {
                                        template: "&lt;div&gt;the template&lt;/div&gt;"
                                    };
                                })
                            </code></pre>
                            Final result:
                            <pre><code class="html">
                                &lt;div foo&gt;
                                    the template
                                &lt;/div&gt;
                            </code></pre>
                        </li>
                        <li>Using <text>transclude</text> to preserve the original markup
                            <pre><code class="html">
                                &lt;!-- HTML --&gt;
                                &lt;div foo&gt;
                                    some content here
                                &lt;/div&gt;

                                &lt;!-- JavaScript --&gt;
                                .directive("foo", function() {
                                    return {
                                        transclude: true,
                                        template: "&lt;div&gt;the template&lt;/div&gt;&lt;div ng-transclude&gt;&lt;/div&gt;"
                                    };
                                })
                            </code></pre>
                            Final result:
                            <pre><code class="html">
                                &lt;div foo&gt;
                                    the template
                                    some content here
                                &lt;/div&gt;
                            </code></pre>
                        </li>
                        <li><text>ng-transclude</text> is used to define where external content will be placed in a directive’s template.</li>
                        <li>Useful resources about <text>transclude</text>: 
                            <ul>
                                <li><a href="https://www.accelebrate.com/blog/angularjs-transclusion-part-1/">https://www.accelebrate.com/blog/angularjs-transclusion-part-1/</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>

            <h id="modules">Modules</h>
            <ul>
                <li>module is basically a <text>container</text> that groups together different components of your application under a common name.(reuseable)</li>
                <li>To create a module: <code>angular.module()</code> function<br>
                    The first argument to the function is the <text>module name</text>. The second argument is an array that specifies the <text>additional modules</text> upon which this module depends.
                </li>
                <li>Example:
                    <pre><code class="javascript">
                        angular.module('firstModule',[]); //defines a module with no dependencies
                        angular.module('firstModule',['moduleA','moduleB']); //defines a module with 2 dependencies
                    </code></pre>
                </li>
                <li>think of <text>angular.module()</text> as a global API for <text>creating or retrieving</text> modules and registering components. </li>
                <li>Example of attaching <text>controller</text> and <text>directive</text>
                    <pre><code class="javascript">
                        var firstModule=angular.module('firstModule',[]); //define a module
                        firstModule.controller('FirstController',function($scope){ // register a controller
                            //your rocking controller
                        });
                        firstModule.directive('FirstDirective',function(){ // register a directive
                            return {
                            }; 
                        });

                        // Having one parameter in angular.module is used for retrieving a module. see following
                        angular.module('firstModule',[]); //specify dependency list here
                        angular.module('firstModule').controller('FirstController' ➥,function($scope){ //just use it
                            //your rocking controller
                        });
                        angular.module('firstModule').directive('FirstDirective',function(){
                            return {
                            }; 
                        });

                        // or even simpler
                        angular.module('firstModule',[])
                        .controller('FirstController' ➥,function($scope){
                            //your rocking controller
                        })
                        .directive('FirstDirective',function(){ //your directive
                            return {
                            }; 
                        });
                    </code></pre>
                </li>
                <li>Module best practice
                    <ul>
                        <li>modularization by <text>layers</text>
                            <ul>
                                <li>app.js</li>
                                <li>controllers.js</li>
                                <li>directives.js</li>
                                <li>filters.js</li>
                                <li>services.js</li>   
                            </ul>
                        </li>
                        <li>modularization by <text>features</text>
                            <ul>
                                <li>According to different features</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>

            <h id="controllers">Controllers</h>
            <ul>
                <li>The task of a controller is to augment the <text>scope</text> by attaching <text>models and functions</text> to it that are subsequently accessed in the <text>view</text></li>
                <li>Example:
                    <pre><code class="javascript">
                        angular.module('myApp',[]).controller('GreetingController', function($scope){
                            $scope.now=new Date(); //set the model 'now' on scope
                            $scope.greeting='Hello';    //set the name model on scope
                        });
                    </code></pre>
                    The first parameter is controller's name. The second is the constructor function that'll be called when encounter ng-controller.
                </li>
                <li>Controller is dependent on <text>scope</text>.</li>
                <li>When AngularJS finds ng-controller='GreetingController'in HTML, it creates a <text>new scope</text> for your controller and passes that as an argument 
                    to the constructor function while instantiating the controller. This is called <text>Dependency Injection</text></li>
                <li>Controller should <b>not</b> do:
                    <ul>
                        <li>No DOM manipulation. This should be done in directives.</li>
                        <li>Don't format model values in controllers. Filters exist for this purpose.</li>
                        <li>Don't write repeatable code in controllers. Rather encapsulate them in services.</li>
                    </ul>
                </li>
            </ul>
        </div>
    </body>
</html>
