<!-- This is the About Me page -->
<!DOCTYPE html>
<html>
    <head>
        <title>Pu Chen | Blog</title>

        <!-- CSS links -->
        <link rel="stylesheet" href="../css/blog.css" />
        

        <link rel="stylesheet" href="../css/styles/default.css">
        <script src="../css/highlight.pack.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    </head>

    <body>
        <!-- Navigation Bar -->
        <nav>
            <div class="tag">Angular | Pu Chen</div>
            <ul>
                <li><a href="../contact.html">Contact</a></li>
                <li><a href="../archives.html">Archives</a></li>
                <li><a href="../aboutme.html">About Me</a></li>
                <li><a href="https://github.com/PuChen7">Projects</a></li>
                <li><a class="active" href="../index.html">Home</a></li>
            </ul>
        </nav>

        <!-- Main body of the front page -->
        <div class="blog-content">
            <br>
            <h id="view-controller">View and Controller</h>
            <ul>
                <li>A <text>view</text> in AngularJS is the HTML after it has been compiled by AngularJS</li>
                <li>A <text>controller</text> is a Javascript object that contains methods and properties.</li>
                <li>Controllers should be lightweight and specific to the view they control.</li>
                <li>The glue between the view and controller is <text>scope</text></li>
                <li>The controller is responsible for exposing methods and properties to the view by <text>attaching them to scope</text></li>
                <li>a <text>digest cycle</text> in AngularJS is what keeps the view and controller <text>synchronized</text></li>
                <li>Digest Cycle
                    <ul>
                        <li>How does AngularJS know when something has changed and it's time to update? <text>--> Dirty Checking</text></li>
                    </ul>
                </li>
                <li><text>controller-as</text> syntax
                    <ul>
                        <li>Example of <b>NOT</b> using <text>controller-as</text> syntax:
                            <pre><code class="html">
                                &lt;div ng-app=&quot;app&quot; ng-controller=&quot;SiteController&quot;&gt;
                                &lt;!-- we are pretty sure we are getting the title from the SiteController --&gt;
                                &lt;h1&gt;{{title}}&lt;/h1&gt;
                                    &lt;div ng-controller=&quot;PersonController&quot;&gt;                                    
                                        &lt;!-- is this the title from SiteController or PersonController? 
                                        is there even a title in both? --&gt;
                                        &lt;h2&gt;{{title}}&lt;/h2&gt;                                    
                                        &lt;div ng-repeat=&quot;person in PersonCtrl.people&quot;&gt;                                    
                                            &lt;span&gt;{{person.name}}&lt;/span&gt;                                        
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            </code></pre>
                        </li>
                        <li>Example of using <text>controller-as</text> syntax:
                            <pre><code class="javascript">
                                // site.controller.js:
                                (function() {
                                    'use strict';
                                    angular.module('app').controller('SiteController', SiteController);
                                
                                    // no need to inject $scope because we don't need it
                                    SiteController.$inject = [];
                                
                                    function SiteController() {
                                        // assigning this to a loacal variable makes it easier to 
                                        // declare properties and methods in the controller
                                        var vm = this;
                                    
                                        // declare our title on this
                                        vm.title = "Welcome!";
                                    }
                                })();
                                
                                // other.controller.js:
                                (function() {
                                    'use strict';
                                    angular.module('app').controller('OtherController', OtherController);
                                    function OtherController() {
                                        var vm = this;
                                        vm.title = "Other title!";
                                    }
                                })();
                            </code></pre>

                            <pre><code class="html">
                                &lt;div ng-app=&quot;app&quot; ng-controller=&quot;SiteController as SiteCtrl&quot;&gt;
                                    &lt;!-- we can be sure we are getting the title from the SiteController --&gt;
                                    &lt;h1&gt;{{SiteCtrl.title}}&lt;/h1&gt;
                                    &lt;div ng-controller=&quot;OtherController as OtherCtrl&quot;&gt;
                                        &lt;!-- we can be sure we are getting the title from the OtherCtrl --&gt;
                                        &lt;h2&gt;{{OtherCtrl.title}}&lt;/h2&gt;
                                    &lt;/div&gt;                                
                                &lt;/div&gt;
                            </code></pre>
                        </li>
                    </ul>
                </li>
            </ul>

            <h id="pro-and-exp">Properties and Expressions</h>
            <ul>
                <li><b>ng-repeat</b>
                    <ul>
                        <li>Simple ng-repeat:
                            <pre><code class="html">
                                &lt;ul class=&quot;list&quot; ng-repeat=&quot;status in storyboard.statuses&quot;&gt;
                                    &lt;h3 class=&quot;status&quot;&gt;{{status.name}}&lt;/h3&gt;
                                &lt;/ul&gt;
                            </code></pre>
                        </li>
                        <li>Adding Filters
                            <ul>
                                <li>ng-repeat with filters:
                                    <pre><code class="html">
                                        &lt;li class=&quot;story&quot; ng-repeat=&quot;story in storyboard.stories | filter: {status:status.name}&quot;&gt;&lt;/li&gt;
                                    </code></pre>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><b>ng-model</b>
                    <ul>
                        <li>ng-model is a <text>directive</text> in Angular.JS that represents models and its primary purpose is to <text>bind</text> the "view" to the "model".</li>
                        <li>The ng-model directive will ensure that the data in the "view" and that of your "model" are kept <text>in sync</text> the whole time.</li>
                        <li>Can also provide a <text>validation</text> behavior</li>
                        <li>How to use:
                            <ul>
                                <li><pre><code class="html">
                                    &lt;div ng-app=&quot;DemoApp&quot; ng-controller=&quot;DemoCtrl&quot;&gt;
                                        &lt;form&gt;
                                            Name : &lt;input type=&quot;text&quot; ng-model=&quot;pname&quot;&gt;&lt;br&gt;
                                        &lt;/form&gt;
                                    &lt;/div&gt;

                                    &lt;script&gt;
                                        var app = angular.module('DemoApp',[]);
                                        app.controller('DemoCtrl', function($scope){
                                            $scope.pname=&quot;Guru99&quot;;                                            
                                        });
                                    &lt;/script&gt;
                                </code></pre></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><b>ng-options</b>
                    <ul>
                        <li>The ng-options directive fills a <text>&lt;select&gt;</text> element with <text>&lt;options&gt;</text>.</li>
                        <li><pre><code class="html">
                                &lt;div ng-app=&quot;myApp&quot; ng-controller=&quot;myCtrl&quot;&gt;
                                    &lt;select ng-model=&quot;selectedName&quot; ng-options=&quot;item for item in names&quot;&gt;&lt;/select&gt;                            
                                &lt;/div&gt;
                                
                                &lt;script&gt;
                                    var app = angular.module('myApp', []);
                                    app.controller('myCtrl', function($scope) {
                                        $scope.names = [&quot;Emil&quot;, &quot;Tobias&quot;, &quot;Linus&quot;];
                                    });
                                &lt;/script&gt;
                        </code></pre></li>
                    </ul>
                </li>
            </ul>

            <h id="services">Services</h>
            <ul>
                <li>a service is a function, or object, that is available for, and limited to, your AngularJS application.</li>
                <li>A service is typically a <text>class with a narrow, well-defined purpose</text>. It should do something <text>specific</text> and do it well.</li>
                <li>Services provide a means for keeping data around for the lifetime of an application while they also can be used across different controllers in a consistent manner.</li>
                <li>Different types of services:
                    <ul>
                        <li><b>module.value</b>: Good for storing simple values that may need to change during runtime.
                            <ul>
                                <li>take two parameters: the name of the service and the value that is to be returned when the value service is instantiated.</li>
                                <li>Example:
                                    <pre><code class="javascript">
                                        myModule.value('STORY_TYPES', [
                                            {name: 'Feature'},
                                            {name: 'Enhancement'},
                                            {name: 'Bug'},
                                            {name: 'Spike'}
                                        ]);
                                    </code></pre>
                                </li>
                            </ul>
                        </li>
                        <li><b>module.constant</b>: Good for storing simple values that will never need to change.
                            <ul>
                                <li>can't be modified during runtime</li>
                                <li>Example of a remote url (encapsulate back-end choice into a single place and pass it around as needed):
                                    <pre><code class="javascript">
                                        angular.module('Angello.Common')
                                        .constant('CURRENT_BACKEND', 'firebase');
                                    </code></pre>
                                </li>
                            </ul>
                        </li>
                        <li><b>module.service</b>: Creates a service using a constructor method. This is good for developers who prefer OOP-style programming and like using the this keyword.
                            <ul>
                                <li>When you define a service using module.service, the instance is returned via a <text>constructor</text> function.</li>
                                <li>It's instantiated with the <text>new</text> keyword.</li>
                                <li>After instantiated add pass service into controller, properties with <text>this</text> will be available on the controller through the service.</li>
                                <li><pre><code class="javascript">
                                    app.controller('myServiceCtrl', function ($scope, myService) {
                                        $scope.artist = myService.getArtist();
                                    });
                                        
                                    app.service('myService', function () {
                                        var _artist = '';
                                        this.getArtist = function () {
                                            return _artist;
                                        }
                                    });
                                </code></pre></li>
                            </ul>
                        </li>
                        <li><b>module.factory</b>: Creates a service using a constructor function. Developers using the Revealing Module pattern will be at home with this style.
                            <ul>
                                <li>Factory creates an object, add properties to it, then return that same object.</li>
                                <li>When you pass this service into your controller, those properties on the object will now be available in that controller through your factory.</li>
                                <li><pre><code class="javascript">
                                    app.controller('myFactoryCtrl', function ($scope, myFactory) {
                                        $scope.artist = myFactory.getArtist()
                                    });
                                        
                                    app.factory('myFactory', function () {
                                        var _artist = '';
                                        var service = {}
                                        
                                        service.getArtist = function () {
                                            return _artist
                                        }
                                        
                                        return service;
                                    });
                                </code></pre></li>
                            </ul>
                        </li>
                        <li><b>module.provider</b>: Providesthemostcontroloverdefiningyourservicebutismorecomplexandverbose. Good for modifying behavior of a service while the application is being configured.
                            <ul>
                                <li>Providers are the only service you can pass into your <text>.config() function</text>.</li>
                                <li>Use a provider when you want to provide module-wide configuration for your service object before making it available.</li>
                                <li><pre><code class="javascript">
                                    app.controller('myProviderCtrl', function ($scope, myProvider) {
                                        $scope.artist = myProvider.getArtist();
                                        $scope.data.thingFromConfig = myProvider.thingOnConfig;
                                    });
                                        
                                    app.provider('myProvider', function () {
                                        this._artist = '';
                                        this.thingFromConfig = '';
                                        
                                        //Only the properties on the object returned from $get are available in the controller.
                                        this.$get = function () {
                                            var that = this;
                                            return {
                                            getArtist: function () {
                                                return that._artist;
                                            },
                                            thingonConfig: that.thingFromConfig
                                            }
                                        }
                                    });
                                    
                                    app.config(function (myProviderProvider) {
                                        myProviderProvider.thingFromConfig = 'This was set in config()';
                                    });
                                </code></pre></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>

            <h id="directives">Directives</h>
            <ul>
                <li></li>
            </ul>
        </div>

    </body>
</html>
